.full{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.login_imputs{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

.auth_menu{
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        border: none;
}